- name: Install and Preconfig Wireguard
  hosts: all
  become: yes
  tasks:

    - name: Install Wireguard 
      ansible.builtin.apt:
        name: wireguard 
        state: latest

    - name: KeyGen
      ansible.builtin.shell:
        cmd: wg genkey | tee /etc/wireguard/private.key | wg pubkey > /etc/wireguard/public.key
    
    - name: Copy Config File
      copy:
        src: wg0.conf
        dest: /etc/wireguard/wg0.conf
        owner: root
        group: root
        mode: '0755'
    
    - name: KeyGen
      ansible.builtin.shell:
        cmd: systemctl enable wg-quick@wg0



